<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="..\css\sandwich.css"/> 
    <link rel="stylesheet" href="..\css\sandwich-PC.css" media="only screen and (min-width:600px)"/>
    <link rel="stylesheet" href="..\css\sandwich-mobile.css" media="only screen and (max-width:599px)"/>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>sandwich</title>
</head>
<body>
<div data-role="page" id="sand-main" class="sand-page">
    <header data-role="header" data-position="fixed" data-theme="b">
        <h1 id="sandwich">S A N D W I C H</h1>
    </header>
    <section data-role="content">
        <article class="sand-post">
            <header class="sand-post-header" >
                <a href="#" class="sand-post-writer">
                    <img class="sand-writer-thumbnail" src="..\static\1.jpg"><span class="sand-writer-name">_lookatstory</span>
                </a>
            </header>
            <div class="sand-post-pic">
                <img class="sand-pic-image" src="..\static\2.jpg">
            </div>
            <div class="sand-post-detail">
                <ul data-role="listview">
                    <li class="sand-detail-header">
                        <a>
                            <h4>_lookatstory</h4>
                            <span class="ui-li-count">20</span>
                        </a>
                        <a href="#" data-icon="heart" data-theme="b"></a>
                    </li>
                    <li class="sand-detail-body">
                        <p>나는 실제로 마를린 먼로를 본 적은 없습니다. 호호호호</p>
                    </li>
                    <li class="sand-detail-footer"><a data-role="button" data-icon="comment" data-iconpos="top"></a></li>
                </ul>
            </div>
        </article>

        <article class="sand-post">
            <header class="sand-post-header" >
                <a href="#d" class="sand-post-writer">
                    <img class="sand-writer-thumbnail" src="..\static\3.jpg"><span class="sand-writer-name">_lookatstory</span>
                </a>
            </header>
            <div class="sand-post-pic">
                <img class="sand-pic-image" src="..\static\4.jpg">
            </div>
            <div class="sand-post-detail">
                <ul data-role="listview">
                    <li class="sand-detail-header">
                        <a>
                            <h4>_lookatstory</h4>
                            <span class="ui-li-count">20</span>
                        </a>
                        <a href="#" data-icon="heart" data-theme="b"></a>
                    </li>
                    <li class="sand-detail-body"><p>이것은 나에게 재미를 가져다 주지 않을까 하고 생각하곤 합니다. ㅋ</p></li>
                    <li class="sand-detail-footer"><a data-role="button" data-icon="comment" data-iconpos="top"></a></li>
                </ul>
            </div>
        </article>
    </section>
    <footer data-role="footer" data-position="fixed" data-id="">
        <div data-role="navbar"  >
            <ul>
                <li><a href="home.html" data-icon="home" class="ui-btn-active ui-state-persist"></a></li>
                <li><a href="#" data-icon="search"></a></li>
                <li><a href="#" data-icon="plus"></a></li>
                <li><a href="#" data-icon="heart"></a></li>
                <li><a href="#" data-icon="user"></a></li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>