<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="..\css\sandwich.css"/> 
    <link rel="stylesheet" href="..\css\sandwich-PC.css" media="only screen and (min-width:600px)"/>
    <link rel="stylesheet" href="..\css\sandwich-mobile.css" media="only screen and (max-width:599px)"/>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>sandwich</title>
</head>
<body>
<div data-role="page" id="sand-profile" class="sand-profile">
    <header data-role="header" data-position="fixed" data-theme="b">
        <a href="#" data-theme="a">게시글 삭제</a>
        <h1>_lookatstory</h1>
        <a href="#" class="ui-btn-right" data-theme="a">프로필 설정</a>
    </header>
    <section data-role="content">
        <article class="sand-profile-detail">
            <img src="..\static\7.jpg" alt="" class="sand-thumbnail-big">
            <h2 align="center">_lookatstory</h2>
            <p>정하윤</p>
            <p>"기분이가 조아요 ㅅㅅㅅㅅ"</p>
        </article>
        <article class="sand-profile-extra ui-grid-b">
            <div class="ui-block-a">
                <h5>게시글</h5>
                <p>10</p>
            </div>
            <div class="ui-block-b">
                <h5>팔로우</h5>
                <p>10</p>
            </div>
            <div class="ui-block-c">
                <h5>팔로워</h5>
                <p>100</p>
            </div>
        </article>
        <article class="sand-profile-posts ui-grid-b">
            <div class="ui-block-a"><img src="..\static\1.jpg" alt="" class="sand-post-thumbnail"></div>
            <div class="ui-block-b"><img src="..\static\2.jpg" alt="" class="sand-post-thumbnail"></div>
            <div class="ui-block-c"><img src="..\static\3.jpg" alt="" class="sand-post-thumbnail"></div>
            <div class="ui-block-a"><img src="..\static\4.jpg" alt="" class="sand-post-thumbnail"></div>
            <div class="ui-block-b"><img src="..\static\5.jpg" alt="" class="sand-post-thumbnail"></div>
            <div class="ui-block-c"><img src="..\static\6.jpg" alt="" class="sand-post-thumbnail"></div>
            <div class="ui-block-a"><img src="..\static\7.jpg" alt="" class="sand-post-thumbnail"></div>
            <div class="ui-block-b"><img src="..\static\8.jpg" alt="" class="sand-post-thumbnail"></div>
            <div class="ui-block-c"><img src="..\static\9.jpg" alt="" class="sand-post-thumbnail"></div>
        </article>
    </section>
    <footer data-role="footer" data-position="fixed" data-id="">
        <div data-role="navbar">
            <ul>
                <li><a href="home.html" data-icon="home" class="ui-btn-active ui-state-persist"></a></li>
                <li><a href="#" data-icon="search"></a></li>
                <li><a href="#" data-icon="plus"></a></li>
                <li><a href="#" data-icon="heart"></a></li>
                <li><a href="#" data-icon="user"></a></li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>