{% load static %}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css"/>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="{% static 'js/write.js' %}" defer></script>
    <title>sandwich</title>
</head>
<body>
<div data-role="dialog" id="sand-write" class="sand-write">
    <header data-role="header" data-position="fixed" data-theme="b">
        <h1>글쓰기</h1>
    </header>
    <section data-role="content">
        <form action="write_request" method="POST" name="writeform" id="writeform" enctype="multipart/form-data" data-ajax="false">
            {% csrf_token %}
            <label for="post_pic">사진 선택</label>
            <input type="file" name="post_pic" id="post_pic" accept="image/gif, image/jpeg, image/png" capture="camera">
            <label for="post_msg">글</label>
            <textarea name="post_msg" id="post_msg"></textarea>
            <input type="submit" value="작성하기"> 
        </form>
    </section>
</div>
</body>
</html>